body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #fafafa;
}

* {
  box-sizing: border-box;
}

.home-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.messages-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}
